<div class="container">
    <h1 class="text-center">Administrator</h1>
    <%= render "admin/nav_links" %>
        <div class="text-center mt-5">
        <div class="btn-group">
            <%= button_to "Edit", edit_post_path(@post), class:"btn btn-warning" %>
            <%= button_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
        </div>
    </div>
</div>

<br  />

<div class="container">
    <ul class="list-group">
    
        <li class="list-group-item">
            <p><strong>Title:</strong> <%= @post.tittle %></p>
        </li>
   
        <li class="list-group-item">
            <p><strong>Views:</strong> <%= @post.views %></p>
        </li>
        <li class="list-group-item">
            <p><strong>Author:</strong>
            <%= "#{@post.user.email} | #{@post.user.name} | #{pluralize(@post.user.views, "View")}" %>
            </p>
        </li>
        <li class="list-group-item">
            <strong>Body:</strong> <%= @post.body %>
        </li>
        <li class="list-group-item">
            <strong><%= pluralize(@post.comments.count, "Comment") %></strong> 
    
            <% @post.comments.each do |comment|%>

         <li class="list-group-item">
            <%= comment.user.name %>
            <%= comment.body %>
         </li>

        <% end %>
    </ul>
</div>
    

    

